<html>
  <head>
    <title>DATA Fleet Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/imgs/dl_icon-180.png">
  </head>
<body>

  <div class="container">
    <button class="button">STOP SENDING</button>
    <div class="sent"></div>
  </div>

  <script media="all" src ="/js/jquery.min.js"></script>
  <script media="all" src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoujPCHjNa2Lwyt2Gmnh17izM4onBX3KA"></script>
  <script type="text/javascript">

    var data = [];
    var interval = null;

    var directionsService = new google.maps.DirectionsService;
    directionsService.route({
      origin: 'pittsburgh, pennsylvania',
      destination: 'williamsport, pennsylvania',
      optimizeWaypoints: true,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        var data = [];
        var miles = 0;
        var mile_increment = 200/response.routes[0].overview_path.length;
        var fuel = 100;
        var runtime = 0;
        for(var i=0; i<response.routes[0].overview_path.length; i++) {
          miles = miles+mile_increment;
          runtime = runtime + 100;
          pt = {};
          pt.id = 1;
          pt.driver_id = 1;
          pt.runtime = runtime;
          pt.miles = miles;
          pt.speed = Math.floor(Math.random() * 80) + 30;
          pt.minT = Math.floor(Math.random() * 50) + 0;
          pt.maxT = Math.floor(Math.random() * 100) + 50;
          pt.avgT = Math.floor(Math.random() * pt.maxT) + pt.minT;
          pt.fuel = Math.floor(Math.random() * 100);
          pt.brake = Math.floor(Math.random() * 6);

          pt.lat = response.routes[0].overview_path[i].lat();
          pt.lon = response.routes[0].overview_path[i].lng();

          pt.token = "94e1319997539bfab0ffa4d7b1ada202";
          data.push(pt);
        }
        sendData(data);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });

    function sendData(data) {
      var i = 0;
      interval = setInterval(function() {
        $.ajax({
          type: "POST",
          url: "/api/data",
          data: data[i],
          success: function() {
            $('.sent').html('<p>'+JSON.stringify(data[i])+'</p>' + $('.sent').html());
          }
        });
        i++;
      }, 10000);
    };

    $('.button').click(function() {
      clearInterval(interval);
    });

  </script>
</body>
</html>